<section class="header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('{{ file_url(content.field_slider_image['#items'].entity.uri.value) }}');">
    <div class="header-title">
        <h2>{{ content.field_slider_title }}</h2>
      <div class="button">{{ content.field_slider_button }}</div>
    </div>
</section>
