<section class="advantage">
    <h2>Ihre <span class="advantage-headline">Vorteile</span></h2>
    <h3 class="advantage-subhead">
        Profitieren Sie von der langjährigen Erfahrung und dem professionellen
        Know-How des Unternehmens und sichern Sie sich die exklusiven Aureus
        Vorteile. Hier für Sie in der Übersicht:
    </h3>
    <div class="container">
        <div class="advantage-grid">
           {{ content.field_advantage_inner }}
        </div>
    </div>
</section>
<div class="divider">
    <hr />
</div>