<section class="blog">
  <h2>{{ content.field_article_main_heading }}</h2>
  <div class="container">
    <div class="blog-article">
      <div class="blog-article-list">
        <div class="blog-article-item">
          {{ content.field_article_view }}
        </div>
      </div>
    </div>
  </div>
</section>
