<div class="advantage-item">
    <div class="advantage-item-picture">
        {{ content.field_advantage_inner_image }}
        <div class="advantage-item-picture-content">
            <h3>{{ content.field_advantage_inner_heading }}</h3>
            <h3>{{ content.field_advantage_inner_subheading }}</h3>
        </div>
        <div class="advantage-item-picture-arrow">&nbsp;</div>
    </div>
</div>
